/* tabBarStyle prop was not working to remove the top padding */
.ant-tabs {
	.ant-tabs-nav-wrap {
		.ant-tabs-nav-list {
			.ant-tabs-tab {
				/* We don't need the top padding of the tab items */
				padding-top: 0px;
			}
		}
	}

	.ant-tabs-content-holder {
		.ant-tabs-content {
			height: 100%;
			.ant-tabs-tabpane {
				height: 100%;
			}
		}
	}
}
